* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-color: #e50914;
  --background-color: lightgray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: --background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .container {
  justify-content: center;
  align-items: center;
  flex: 1;
} */

.startTitle {
  padding-top: 1em;
  font-size: 24;
  text-align: center;
  font-weight: bold; 
}

.nav {
  padding-top: 10em;
}

.navButtons {
  height: 50;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-radius: 0.5em;
  background-color: blue;
  /* justify-content: center; */

}

.navLink {
  text-decoration: none;
}

.navButtons:hover {
  opacity: 50%;
}

.buttonText {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 18;
}

/* ----------ratings page------------ */
.ratingContainer {
  text-align: center;
  
}

.form {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: calc(50% - 7em);
}

.input {
  /* justify-content: left; */
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 10px solid var(black);
  background-color: #e4e2e2;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 0.3em;
}

.categoryHeader {
  margin-top: 1em;
}

.error {
  color: red;
  font-size: small;
  margin-top: 1em;
  margin-left: 1em;
}

.units {
  margin-top: 1em;
  margin-left: 0em;
}

.calculate {
  border-radius: 1em;
  background-color: blue;
  margin-top: 1.5em;
  height: 3em;
  width: 15em;
  border: blue;
}

.calculate:hover {
  opacity: 50%;
}

/* -----------Results page--------------- */
.results-Container{
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
.results-Container h2{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.results-Container p{
  display:inline-block;
  font-size: 15px;
  margin-top: 3px;
  text-align-last: left;
}
.results-Container h5{
  display:inline-block;
}


/* Graphics */
.graphics_container{
  height:40vh;
  position: relative;
}

/* Tab 1 */
.HX_container{
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  background-color: white;
  display: flex;
  max-height:40vh;
  max-width: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}
.head{
  width: 40%;
}
.shell{
  width: 80%;
}
.rear{
  width: 40%;
}

/* Tab 2 */
.big_circle {
  width: 200px;
  height: 200px;
  position: absolute;
  /* background-color: lightblue; */
  display: flex;
  overflow: hidden;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: black solid;
  border-radius: 50%;
  justify-content: space-around;
}
.tube{
  position: relative;
  width: 10px;
  height: 10px;
  background-color: lightblue;
  border: black solid;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -400%);
  z-index: 1;
}
.tube-row{
  position: relative;
  transform: translate(-10%, -30%);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.HX_shell{
  padding-top: 1%;
  padding-bottom: 1%;
  position: absolute;
  background-color: white;
  display: flex;
  max-height:40vh;
  max-width: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.hide{
  display: none;
}


/* Tabs */
.tabs {
  position: relative;
  background: var(--background-color);
  z-index: 10;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tabs p {
  font-size: 1.2rem;
}
.tabs .container > div{
  padding: 1rem 0;
}
.tabs .container > div:hover{
  color: white;
  cursor: pointer;
}
.tab-border{
  border-bottom: red 4px solid;
}
/* Tab Content */
.tab-content {
  padding: 2rem 0;
  background: white;
  color :#000;
}
#tab-1-content,
#tab-2-content,
#tab-3-content{
  display: none;
}
.show {
  display: block !important;
}